<div id="page">
  <% if session[:password] %>
    <div id="existing-session">
      Ready to generate secure QR codes and scan existing QR codes using the currently set password.
    </div>
    <div id="generate">
      <%= form_tag(encode_path, :method => :get) do %>
        <%= label_tag "Text to encode" %>
        <%= text_field_tag "p" %>
        <%= submit_tag "Encode" %>
      <% end %>
    </div>
    <div id="end-session">
      <%= button_to "Clear password", session_path, :method => "delete" %>
    </div>
  <% else %>
    <div id="start-session">
      <div class="instructions">
        Let's get started.  Enter a password to use for protecting your QR codes.  This password will be needed to decode any QR codes generated.  Share the password only with people who should be allowed to read the QR codes you intend to create.
      </div>
      <%= form_tag(session_path, :method => :put) do %>
        <%= label_tag "Password" %>
        <%= text_field_tag "password" %>
        <%= submit_tag "Set password" %>
      <% end %>
    </div>
  <% end %>
</div>
